@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);
.pokemon {
    font-family: "Pokemon";
    text-align: center;
    margin: 0;
    letter-spacing: 0.3rem;
    color: rgba(214, 48, 49, 1.0);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.border {
    background-color: #CAD3C8;
}

.pokemon-child {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}